* {
    box-sizing: border-box;
    /* border: solid 1px red; */
}


h1, h2, p, a {
    font-family: Noto, Opens Sans, arial, sans-serif;
    text-align: center;
}

.header {
    padding-top: 20px;
}

img {
    height: 100%;
    vertical-align: top;
}

.caption p {
    margin: 0 30px;
}


/* Flexbox styling ------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 20px;
}

/* Photo section --------------- */


.photo-container {
    max-width: 300px;
    text-align: center;
    position: relative;
    margin: 20px;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(32, 32, 32);    
    padding: 10px;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.photo-overlay:hover {
    opacity: .8;
    transition-duration: .8s;
}

.photo-overlay p {
    padding: 0 30px;
}

/* Button --------------------- */

/* Can add in button icon later */

.button {
    color: white;
    background-color: rgb(127, 100, 245);
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    text-decoration: none; 
    border-radius: .5em;  
    opacity: 0;
    transition-property: opacity, background, box-shadow;
    transition-duration: .5s;
    transition-delay: .2s;
}

.button:hover {
    background:  rgba(127, 100, 245, 1);
    box-shadow: 0 0 0 3px rgba(255, 255, 255 .7);
    /* transition-duration: 0.5s; */
}

.button:active {
    background: rgb(87, 22, 238);
}

.photo-overlay:hover .button {
    opacity: 1;  
}

.btn-icon {
    opacity: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/download.svg');
    position: absolute;
    left: 45%;
    top: 27%;
}

/* Opacity on image one */

.img-one {
    opacity: 1;
    transition-duration: .4s;
    transition-property: all;
}

.img-one:hover {
    opacity: .5;
    transition-duration: .4s;
    box-shadow: 5px 5px 5px;
}
