* {
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    margin-bottom: 100px; 
}

h1, h2, p, a  {
    font-family: Noto, Opens Sans, arial, sans-serif;
    text-align: center;
}

.header {
    padding-top: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

img {
    height: 100%;
    vertical-align: top;
}

.caption p {
    margin: 0 30px;
}

.logo {
    width: 40px;
    margin-bottom: .4em;
    transition: transform .5s;
}

.logo:hover {
    transform: rotate(-20deg);
}

/* Flexbox styling ------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 20px;
}

/* Photo with overlay section --------------- */


.photo-container {
    max-width: 300px;
    text-align: center;
    position: relative;
    margin: 20px;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(32, 32, 32, .8);    
    padding: 10px;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.photo-overlay:hover {
    opacity: 1;
    transition-duration: .8s;
    /* could also use shorthand - transition: opacity .5s; */
}

.photo-overlay p {
    padding: 0 30px;
}

/* Button --------------------- */

.button {
    color: white;
    background: rgba(127, 100, 245, .7);
    display: block;
    width: 65%;
    padding: 10px;
    margin: 20px auto;
    text-decoration: none; 
    border-radius: .5em;  
    opacity: 0;
    transition: opacity .3s .2s, background .4s .3s, box-shadow .5s 0s;
	transition-timing-function: ease-out;
}

.button:hover {
    background:  rgba(127, 100, 245, 1);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
    opacity: 1;
}


.photo-overlay:hover .button {
    opacity: 1;  
}

.btn-icon {
    opacity: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/download.svg');
    position: absolute;
    left: 50%;
    top: 71%;
    transition-property: opacity .5s .3s, left .5s .3s;
    transition-duration: .5s;
    transition-delay: .3s;
    transition-timing-function: ease-out;
}

.button:hover .btn-icon {
    opacity: 1;
    left: 70%;
}

/* Opacity on image one */

.img-one {
    opacity: 1;
    transition-duration: .4s;
    transition-property: all;
}

.img-one:hover {
    opacity: .5;
    transition-duration: .4s;
    box-shadow: 5px 5px 5px;
}

/* Rotation on image two */

.img-two {
    transition: transform .5s;
}

.img-two:hover {
    transform: rotate(-5deg) scale(1.1) translateY(-20px);
}

/* Skew on image three */

.img-three {
    transition: transform .5s;
}

.img-three:hover {
    transform: skewX(-10deg);
}

/* Scale on image four */

.img-four {
    transition: transform .5s;
}

.img-four:hover {
    transform: scale(1.1);  
}

/* Rotate from a certain point on image five */

.img-five {
    transition: transform .5s;
    transform-origin: 0 0;   /* Could also put 'top left for 0 0 etc.' */
}

.img-five:hover {
    transform: rotate(45deg);
}

/* image six */

.img-six {
    transition: transform .5s;
}

.img-six:hover {
    transform: translateX(100px);
}

/* Scale on hover on image seven */

.third-photo-one {
    overflow: hidden;    
}

.third-photo-one .img-seven {   
    transform-origin: 0 0;
    transition: transform .5s cubic-bezier(.7,-0.39,.31,1.38); 
}

.third-photo-one:hover img {
    transform: scale(1.2);
}

/* Slide in on image eight */

.photo-eight {
    overflow: hidden;
}

.slide .overlay-eight, 
.slide .img-eight {
    transition: transform .6s ease-out;
}

.slide .overlay-eight {
    opacity: 1;
    transform: translateX(-100%);
}

.slide:hover .overlay-eight {
    transform: translateX(0);
}

.slide:hover .img-eight {
    transform: translateX(100%);
}